<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Admin</title>
	<base href="/">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="css/slick.css" />
	<link type="text/css" rel="stylesheet" href="css/slick-theme.css" />
	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />
	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<link type="text/css" rel="stylesheet" href="css/adminhome.css">

	<script>
		window.console = window.console || function (t) {};
	</script>
	<script>
		if (document.location.search.match(/type=embed/gi)) {
			window.parent.postMessage("resize", "*");
		}
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#search').keyup(function () {
				search_table($(this).val());
			});

			function search_table(value) {
				$('#employee_table tr').each(function () {
					var found = 'false';
					$(this).each(function () {
						if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0) {
							found = 'true';
						}
					});
					if (found == 'true') {
						$(this).show();
					} else {
						$(this).hide();
					}
				});
			}
		});
	</script>
</head>

<body>
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	<div id="navigation">
		<div id="header" style="padding: 0px;">
			<div class="container">
				<!-- Mobile nav toggle-->
				<li class="nav-toggle">
					<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
				</li>
				<!-- / Mobile nav toggle -->
			</div>
			<!-- header -->
		</div>
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- menu nav -->
				<div class="menu-nav">
					<ul class="menu-list">
						<li><a href="auth/admin/logout">LOG OUT</a></li>
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->
	<div class="content" style="padding-right: 30px;">
		<!-- container -->
		<div class="container">
			<!-- Jumbtron / Slider -->
			<div class="jumbotron" style="padding: 10px;">
				<p class="lead text-center">Admin Control Panel</p>
			</div>
		</div>
	</div>
	<!-- Main content area -->
	<main>
		<div style="text-align:center;">
			<p style="text-align:center;">Choose one of Below</p>
			<a href="/admin/general" class="button">General</a>
			<a href="/admin/Articles" class="button">Articles</a>
			<a href="/admin/Users" class="button">Users</a>
			<a href="/admin/Reviewers" class="button">Reviewers</a>
			<a href="/intern/data" class="button">Intern</a>
		</div>
		<div style="text-align:center;">
			<h2 class="header">Articles</h2>
			<div style="margin:0 auto; text-align:center;">
				<p>Search article by id of the article</p>
				<div class="row" style="text-align:center;">
					<p>
						<h5></h5>
					</p>
					<div style="margin:0 auto; text-align:center;">
						<div class="input-wrap" style="margin:0 auto; text-align:center;">
							<h5><input id="table-search" style="text-align:center;" placeholder="enter Id to search here..."
									type="text"></h5>
							<label class="input-clear" style="margin:0 auto; text-align:center;" for="table-search"></label>
						</div>
					</div>
				</div>
				<div class="row" style="padding: 25px 35px;">
					<div class="col-sm-16">
						<h4>
							<table class="table" border="1">
								<thead>
									<tr>
										<th style='visibility:collapse'>Articles</th>
										<th style="text-align: center" class="col-7">ArticleId</th>
										<th style="text-align: center" class="col-9">Category</th>
										<th style="text-align: center" class="col-9">Title</th>
										<th style="text-align: center" class="col-9">UserName</th>
										<th style="text-align: center" class="col-9">Status</th>
										<!-- <th style="text-align: center" class="col-9">Status</th> -->
										<th class="col-5" style="text-align: center">Reject</th>
									</tr>
								</thead>
								<% results2.forEach(function(result){ %>
								<tbody class="allArticles">
									<tr class="item1">
										<td style='visibility:collapse'>Articles</td>
										<td class="col-7"><%=result[0]%></td>
										<td class="col-6"><%=result[1]%></td>
										<td class="col-6"><%=result[2]%></td>
										<td class="col-5"><%=result[3]%></td>
										<td class="col-7"><%=result[4]%></td>
										<!-- <td class="col-7"><%=result[5]%></td> -->
										<td class="col-5"><label class="delete-row"> Reject</label></td>
									</tr>
								</tbody>
								<%})%>
							</table>
						</h4>
					</div>
				</div>

				<div class="modal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
							</div>
							<div class="modal-body">
							</div>
							<div class="modal-footer">
								<button class="btn modal-cancel" data-dismiss="modal">Cancel</button>
								<button class="btn modal-save" type="button">Delete</button>
							</div>
						</div>
					</div>
				</div>
				<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
				<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
				<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/js/bootstrap.min.js'>
				</script>
			</div>
			</section>
			<script id="rendered-js">
				$(function () {
					var modal = $('.modal');
					var modalHeader = modal.find('.modal-header');
					var modalBody = modal.find('.modal-body');
					$(document).on('click', '.add-row', function () {
						var el = $(this).closest('.table-wrap').find('.row-name');
						appendRow(el);
					});
					$(document).on('keydown', '.row-name', function (e) {
						var el = $(this);
						if (e.keyCode == 13) {
							appendRow(el);
						}
					});

					function appendRow(el) {
						var table = el.closest('.table-wrap').find('table');
						var input = el.closest('.table-wrap').find('.table-inputs');
						if (input.val() != '') {
							table.find('tbody').append('<tr class="' + input.val() +
								'"><td class="col-8">' + input.val() +
								'</td><td class="col-4"><label class="delete-row"> Delete</label></td></tr>'
							);
							$('.row-name').find('input').val('');
						}
					}
					var row = null;
					var buttonid = $("button").click(function () {
						// return this.id; // or alert($(this).attr('id'));
						return this.id
					});
					$(document).on('click', '.delete-row', function () {
						row = $(this).closest('tr');
						modal.show();
						modalHeader.html('Delete ' + row.find('td:first').html() + '?');
						modalBody.html('Are you sure you want to delete row "' + row.find(
							'td:first').html() + '"?');
						$(document).on('click', '.modal-save', function () {
							// row.remove();
							$.ajax({
								type: 'POST',
								url: '/admin/Articles',
								data: {
									ID: row.find('td:first').html(),
									Query: row.find('td:nth-child(2)').html()
								}
							});
							modal.hide();
						});
						$(document).on('click', '.modal-cancel', function () {
							modal.hide();
						});
					});
					$(document).on('keyup', '#table-search', function () {
						var searchText = $(this).val().toLowerCase();
						var rows = $('table').find('tbody').find('tr');
						rows.each(function () {
							var row = this;
							var td = $(row).find('td:nth-child(2)');
							var td1 = $(row).find('td:nth-child(3)');
							var td2 = $(row).find('td:nth-child(4)');
							var td3 = $(row).find('td:nth-child(5)');
							var td4 = $(row).find('td:nth-child(6)');

							console.log(td.html());
							console.log(searchText);
							if (td.html().toLowerCase().indexOf(searchText) == -1 && td1.html().toLowerCase().indexOf(
									searchText) == -1 && td3.html().toLowerCase().indexOf(searchText) == -1 && td2.html()
								.toLowerCase().indexOf(searchText) == -1 && td4.html().toLowerCase().indexOf(searchText) == -1
							) {
								$(row).hide();
							} else {
								$(row).show();
							}
						});
					});
					$(document).on('click', '.input-clear', function () {
						$(this).siblings('#table-search').val('');
						var rows = $('table').find('tbody').find('tr');
						rows.show();
					});
				});
				//# sourceURL=pen.js
			</script>
		</div>
		</section>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		</div>
		</div>
	</main>
	</footer>
	</div>
	</div>
	</div>
	<a id="backtotop" href="#top" style="float: right;"><i class="fa fa-chevron-up"></i></a>
	<script src="js/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/jquery.backtotop.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/main.js"></script>




</body>

</html>