<!-- %- include("partials/header") %> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit</title>

    <base href="/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="styles/theme.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
        <link rel="stylesheet" href="/tagify/tagify.css">
        <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css"/>
<script src="/tagify/tagify.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/tagify/jQuery.tagify.min.js"></script>
        <script src="ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
<body class="bg-light">



    <div id="HTML" class="d-none">
        <div id="h" class="d-none"><%= post.Blog %></div>
    </div>
<div class="container">
  
    <div class="row mt-5 mb-5">
        <div class="col-12 ">
            <!-- <form action="/edit/%= post.Type %>-%= post.Id %>" method="POST" >
                <div class="form-group">
                    <input type="text" name="head" class="form-control" value="<%= post.Head %>" placeholder="Enter article title here.." required id="head">
                   </div>
                  <div class="form-group">
                    <textarea  id="blog"  name="blog"></textarea>
                   
                  </div>
                  
                <button type="submit" class="btn btn-primary">Done</button>
            </form> -->
            <form action="/edit/<%= post.Type%>-<%=post.Id%>" method="POST">
            <div class="form-group mt-3">
              <div class="row">
                <div class="col-12 d-flex justify-content-center text-center">
                  <h4>Choose the language to be used and the difficulty level</h4>
                </div>
                <div class="col-6 d-flex justify-content-center text-center" style="margin-bottom: 10px;">
                  <div class="row">
                    <div class="d-block col-12">
                      <h5>Programming language</h5>
                      <select name="lang">
                        <option> <button class="button1 "  id="t1" name="type">C++</button></option>
                         <option><button class="button2" id="t2" name="type">Java</button></option>
                         <option><button class="button3 " id="t3" name="type">C</button></option>
                         <option><button class="button3 " id="t4" name="type">Python</button></option>
                        </select>
                    </div>
                  </div>
                 </div>
                 <div class="col-6 d-flex justify-content-center text-center">
                  <div class="row">
                    <div class="d-block col-12">
                      <h5>Difficulty Level</h5>
                        <select name="level" >
                        <option> <button class="button1 "  id="l1" >Easy</button></option>
                          <option><button class="button2" id="l2" >Medium</button></option>
                          <option><button class="button3 " id="l3" >Hard</button></option>
                          </select>
                    </div>
                  </div>
                 </div>
               </div>
             </div>
            <div class="form-group">
              <!-- <label for="head">Blog Heading</label> -->
              <input type="text" name="head" class="form-control" value="<%= post.Head %>" placeholder="Enter article title here.." required id="head">
             </div>
            <div class="form-group">
              <!-- <label for="blog">Blog Body</label> -->
              <p >For image upload please upload your image <a href="https://postimages.org/" target="_blank"><span style="color: blue;">here.</span></a>and use image url for using the image in editor</p>
              <textarea  id="blog"  name="blog"></textarea>
              <script type="text/javascript">
                // CKEDITOR.replace('blog',{
                //     "extraPlugins" : "imagebrowser",
                //     "imageBrowser_listUrl":"/files"
                // });
                // var editor =new FroalaEditor('#blog',{
                //        fileUploadURL: './e2/file_upload',
                //        fileUploadParams: {
                //          id: 'my_editor'
                //        },
                //        imageUploadURL: './e2/image_upload',
                //        imageUploadParams: {
                //          id: 'my_editor'
                //        },
                //      },function(){
                //       var t=document.getElementById("h").textContent;
                //        editor.html.set(t);
                //      });
                </script>
            </div>
            <div class="form-group" id="sol">
              <textarea name="sol" class="form-control " value=" " rows="5" style="width: 100%;" ><%= post.Solution %></textarea>
            </div>
            <script>
              var type="<%=post.Type%>"
              $("#sol").show();
              if(type!=="Puzzle"){
                $("#sol").hide();
              }
            </script>
            <div class="form-group">
              <style contenteditable>
                .tags-look .tagify__dropdown__item{
                  display: inline-block;
                  border-radius: 3px;
                  padding: .3em .5em;
                  border: 1px solid #CCC;
                  background: #F3F3F3;
                  margin: .2em;
                  font-size: .85em;
                  color: black;
                  transition: 0s;
                }
                
                .tags-look .tagify__dropdown__item--active{
                  color: black;
                }
                
                .tags-look .tagify__dropdown__item:hover{
                  background: lightyellow;
                  border-color: gold;
                }
                </style>
              <p style="text-align:right;">Choose the Appropriate Tags or type manually.</p>
              <!-- <label for="tags"style="text-align:right;">Choose the Appropriate Tags or type manually.</label> -->
              <input type="text" name="tags" class="form-control tagify--custom-dropdown" style="width: 300px;  float:right;" value="<%= post.Title %> " id="tags">
              <!-- <input name='input-custom-dropdown' class='tagify--custom-dropdown' placeholder='write some tags' value='css, html, javascript'> -->

            </div>
            <script data-name="dropdown-tags">
              // (function(){
              
              // var input = document.querySelector('input[name="tags"]'),
              //     // init Tagify script on the above inputs
              //     tagify = new Tagify(input, {
              //       whitelist: ["Data Structure","Algorithm","Operating System","Data Analysis","DBMS"],
              //       maxTags: 10,
              //       dropdown: {
              //         maxItems: 20,           // <- mixumum allowed rendered suggestions
              //         classname: "tags-look", // <- custom classname for this dropdown, so it could be targeted
              //         enabled: 0,             // <- show suggestions on focus
              //         closeOnSelect: false    // <- do not hide the suggestions dropdown once an item has been selected
              //       }
              //     })
              // })()
              var input = document.querySelector('input[name="tags"]'),
                      tagify = new Tagify(input, {whitelist:[]}),
                      controller; // for aborting the call

                  // listen to any keystrokes which modify tagify's input
                  tagify.on('input', onInput)

                  function onInput( e ){
                    var value = e.detail.value;
                    tagify.settings.whitelist.length = 0; // reset the whitelist

                    // https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort
                    controller && controller.abort();
                    controller = new AbortController();

                    // show loading animation and hide the suggestions dropdown
                    tagify.loading(true).dropdown.hide.call(tagify)
                    var url='/compose/tags?value=' + value; 
                    fetch(url, {signal:controller.signal})
                      .then(RES => RES.json())
                      .then(function(whitelist){
                        // update inwhitelist Array in-place
                        tagify.settings.whitelist.splice(0, whitelist.length, ...whitelist)
                        tagify.loading(false).dropdown.show.call(tagify, value); // render the suggestions dropdown
                      })
                  }
              </script>
            <!-- </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript">
	  CKEDITOR.replace("blog", {
      extraPlugins: 'codesnippet',
	    codeSnippet_theme: 'monokai_sublime',
	    // "extraPlugins" : 'imagebrowser',
			// "imageBrowser_listUrl" : "/files"
      });
      var t=document.getElementById("h").textContent;
      // ed.html.set('<p>My custom paragraph.</p>');
      
       CKEDITOR.instances.blog.setData(t);
    // $('#blog').froalaEditor('html.set', t);
	</script>
</body>
</html>
 <!-- %- include("partials/footer") %>  -->