<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Interns Data</title>
	<style type="text/css">
		body {
			font-family: "Open Sans", sans-serif;
			line-height: 1.25;
		}

		table {
			border: 1px solid #ccc;
			border-collapse: collapse;
			margin: 0;
			padding: 0;
			width: 100%;
			table-layout: fixed;
		}

		table caption {
			font-size: 1.5em;
			margin: .5em 0 .75em;
		}

		table tr {
			background-color: #f8f8f8;
			border: 1px solid #ddd;
			padding: .35em;
		}

		table th,
		table td {
			padding: .625em;
			text-align: center;
			border: solid 1px #fab;
			width: 100px;
			word-wrap: break-word;
		}

		table th {
			font-size: .85em;
			letter-spacing: .1em;
			text-transform: uppercase;
		}

		@media screen and (max-width: 1100px) {
			table {
				border: 0;
			}

			table caption {
				font-size: 1.3em;
			}

			table thead {
				border: none;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

			table tr {
				border-bottom: 3px solid #ddd;
				display: block;
				margin-bottom: .625em;
			}

			table td {
				border-bottom: 1px solid #ddd;
				display: block;
				font-size: .8em;
				text-align: center;
				/* flex-wrap: wrap;
				flex-direction: column; */

			}

			table td::before {
				/*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
				content: attr(data-label);
				float: left;
				font-weight: bold;
				text-transform: uppercase;
			}

			table td:last-child {
				border-bottom: 0;
			}

		}

		#page a {
			margin-left: 5px;
			padding: 5px;
			border: 1px solid #623954;
			text-align: center;
			font-weight: bold;
			text-decoration: #623954;
		}

		#page a:hover {
			color: aliceblue;
			background-color: #623954;
		}

		.active {
			color: aliceblue;
			background-color: #623954;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-light bg-light">
		<form class="form-inline">
			<span class="navbar-brand mb-0 h1"><a href="/intern/form">Add Intern</a></span>
			<span id="downloadExcelLink" download="../sample.xlsx" class="navbar-brand mb-0 h1"><a
					href="/intern/download">Download Table</a></span>
			<script type="text/javascript" src="../public/js/download.js"></script>
		</form>
	</nav>
	<table>
		<h1 style="text-align:center;">Interns Data</h1>
		<thead>
			<tr>
				<th scope="col" style="width: 10%;">Name</th>
				<th scope="col" style="width: 18%;">Email</th>
				<th scope="col" style="width: 10%;">Role</th>
				<th scope="col" style="width: 12%;">Description of Work</th>
				<th scope="col" style="width: 6%;">Start Date</th>
				<th scope="col" style="width: 6%;">End Date</th>
				<th scope="col" style="width: 8%;">Stipend Paid</th>
				<th scope="col" style="width: 7%;">Hired Via</th>
				<th scope="col" style="width: 10%;">Certificate Number</th>
				<th scope="col" style="width: 5%;">Update</th>
				<th scope="col" style="width: 5%;">Delete</th>


			</tr>
		</thead>
		<tbody>
			<% results.forEach(function(result){ %>
			<tr>
				<td><%=result[0]%></td>
				<td><%=result[1]%></td>
				<td><%=result[2]%></td>
				<td><%=result[3]%></td>

				<td>
					<script type="text/javascript">
						var date = Date.parse("<%= result[4] %>");
						var d = new Date(date);
						document.write(d.getDate() + '-' + (d.getMonth() + 1) + '-' + d.getFullYear());
					</script>
				</td>
				<td>
					<script type="text/javascript">
						var date = Date.parse("<%= result[5] %>");
						var d = new Date(date);
						document.write(d.getDate() + '-' + (d.getMonth() + 1) + '-' + d.getFullYear());
					</script>
				</td>
				<td><%=result[6]%></td>
				<td><%=result[7]%></td>
				<td><%=result[8]%></td>
				<td><a href="/intern/update-<%=result[1]%>">Update</a></td>

			</tr>
			<%})%>
		</tbody>
	</table>

	<div class="row">
		<div class="container">
			<div id="page" class="text-center" style="margin-top:20px">
				<% if(currentPage!=1 && previousPage!=1){ %>
				<a href="/intern/data?page=1">1</a>
				<%  } %>
				<% if(hasPreviousPage){ %>
				<a href="/intern/data?page=<%= previousPage %>"><%= previousPage %> </a>
				<%} %>
				<a href="/intern/data?page=<%= currentPage %>" class="active"><%= currentPage %> </a>
				<% if(hasNextPage){ %>
				<a href="/intern/data?page=<%= nextPage %>"><%= nextPage %> </a>
				<%} %>
				<% if(lastPage!==currentPage && lastPage!==nextPage){ %>
				<a href="/intern/data?page=<%= lastPage %>"><%= lastPage %> </a>
				<%} %>

			</div>
		</div>
	</div>
</body>

</html>