<%- include("partials/header") %>
<body class="bg-light">




<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h1 class="card-header text-center">Article: <%= Head %></h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <h5 class="card-title">Language:<span><%= Lang %></span></h5>
                        </div>
                        <div class="col-3 ml-auto">
                            <h5 class="card-title">Difficulty Level:<span><%= Lvl %></span></h5>
                        </div>
                    </div>
                    <div id="HTML">
                        <div id="h" class="d-none"><%= Body %></div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="col-4 ml-auto">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="/edit/<%= type %>-<%= postId %>"><button type="button" class="btn btn-warning">EDIT</button></a> 
                            <a href="/delete/<%= type %>-<%= postId %>"><button type="button" class="btn btn-warning">REJECT</button></a>
                            <% if(ReviewerLevel===0){ %>
                                <a href="/save/<%= type %>-<%= postId %>-<%= ReviewerLevel %> "> <button type="button" class="btn btn-warning">PROMOTE</button></a>
                                <%  } else{%> 
                                    <a href="/save/<%= type %>-<%= postId %>-<%= ReviewerLevel %>"> <button type="button" class="btn btn-warning">ACCEPT</button></a>
                                <% } %> 
                          </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</div>













<!-- <script src="./ckeditor/ckeditor.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        var txt=document.getElementById("h").textContent;
            document.getElementById("HTML").innerHTML=txt;
    </script>
    </body>
</html>
 <!-- %- include("partials/footer") %>  -->